body{
    direction: rtl;
}

:root {
    --main-color-1: #FFD333;
    --main-color-2: #3D464D;
}
.main-color-1{
    color: var(--main-color-1);
}
.main-color-2{
    color: var(--main-color-2);
}
.bg-main-1{
    background-color: var(--main-color-1);
}
.bg-main-2{
    background-color: var(--main-color-2);
}
header form{
    direction: ltr;
}
header form input{
    direction: rtl;
}
::placeholder{
    color: #a1a4a7 !important;
}