body {
    direction: rtl;
}

:root {
    --main-color-1: #FFD333;
    --main-color-2: #3D464D;
    --main-color-3: #959799;

}

.main-color-1 {
    color: var(--main-color-1);
}

.main-color-2 {
    color: var(--main-color-2);
}

.bg-main-1 {
    background-color: var(--main-color-1);
}

.bg-main-2 {
    background-color: var(--main-color-2);
}

.dir-left {
    direction: ltr;
}

header form {
    direction: ltr;
}

header form input {
    direction: rtl;
}

::placeholder {
    color: var(--main-color-3) !important;
}

.col-lg-3 .dropdown .dropdown-menu {
    text-align: right;
    min-width: 260px;
}

nav .dropdown-menu {
    background-color: var(--main-color-1) !important;
    left: initial !important;
    right: 0 !important;
    margin-top: 10px !important;
    text-align: right;

}

.dropstart .dropdown-menu {
    right: 260px;
}
.dropdown-item.active{
    background-color: var(--main-color-1) !important;
}

.dropstart:hover .dropdown-menu {
    display: block;
}

.dropstart {
    direction: ltr;
}

.dropstart .dropdown-toggle::before {
    margin-right: 190px !important;
}

.navbar-nav .nav-link.active {
    color: var(--main-color-1) !important;
}

.footerIcon {
    width: 40px;
    height: 40px;
}

footer a:hover {
    text-decoration: underline !important;
}

footer .animateIcon {
    width: 45px;
    height: 45px;
    background-color: var(--main-color-1);
    position: fixed;
    bottom: 20px;
    right: 30px;
    animation: infinite 1.5s animatinIcon;
    border-color: rgba(143, 120, 44, 0.7) !important;
}

.topHeader a:hover {
    text-decoration: underline !important;
}

.pattern-carousel,
.pattern-offer {
    background-color: rgba(10, 10, 10, 0.5);
    width: 100%;
    height: 100%;
}

.carousel .carousel-item {
    height: 450px;
}

.carousel-item img {
    object-fit: cover;
    min-height: 450px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: none !important;
}

.carousel-caption {
    bottom: 7rem !important;

}

.carousel-indicators [data-bs-target] {
    width: 20px !important;
    height: 20px !important;
    transition: all .7s !important;
    background-color: transparent !important;
    border: solid 1px #fff !important;
}

.carousel-indicators .active {
    width: 40px !important;
    background-color: #fff !important;

}

.image-offer {
    height: 213px;
    transition: all .7s;

}

.product-offer:hover img {
    transform: scale3d(1.3, 1.3, 1.3) rotate(0.02turn);

}

#categories-title .col-12 h2::after,
#featuredPro-title .col-12 h2::after,
#recentPro-title .col-12 h2::after,
#priceFilter .col-12 h4::after,
#colorFilter .col-12 h4::after,
#singlePro-title .col-12 h2::after, #cartPro-title .col-12 h5::after, #checkOut-title h5::after, #checkOut-title-2 h5::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 70%;
    right: 0;
    border-top: 1px dashed #3a3c3d;
    z-index: -1;

}

#categories-sample .col-lg-3 .col-7 {
    background-color: #fff;
    transition: all .5s;
}

#categories-sample .col-lg-3:hover .col-7 {
    background-color: var(--main-color-1);

}

#categories-sample .col-lg-3 img {
    transition: all .7s;
}

#categories-sample .col-lg-3:hover img {
    transform: scale3d(1.3, 1.3, 1.3) rotate(0.02turn);
}

.img-pattern {
    background-color: rgba(250, 250, 250, 0.7);

}

#featuredPro-sample svg:hover,
#filterPro svg:hover,
#singlePro-sample svg:hover {
    color: var(--main-color-1);
    background-color: var(--main-color-2);
}

#featuredDivAction,
#filterDivAction,
#singleDivAction {
    display: none;
}

#featuredPro-sample .col-lg-3:hover #featuredDivAction,
#filterPro .col-lg-4:hover #filterDivAction,
#singlePro-sample .col:hover #singleDivAction {
    display: block;
}

#featuredPro-sample .col-lg-3 img,
#filterPro .col-lg-4 img,
#singlePro-sample .col img {
    transition: all .5s;
}

#featuredPro-sample .col-lg-3:hover img,
#filterPro .col-lg-4:hover img,
#singlePro-sample .col:hover img {
    transform: scale3d(1.3, 1.3, 1.3);

}

.image-featured-offer {
    height: 300px;
    transition: all .7s;
}

/*animate.css-delay-start*/
.delay-1 {
    animation-delay: 0s;
}

.delay-2 {
    animation-delay: .05s;
}

.delay-3 {
    animation-delay: .12s;
}

.delay-4 {
    animation-delay: .18s;
}

/*animate.css-delay-end*/

.owl-carousel {
    direction: ltr;
}

.owl-carousel .owl-item img {

    width: 170px !important;
}

.breadcrumb {
    direction: ltr;
}

.breadcrumb a {
    color: var(--main-color-2);
    text-decoration: none;
}

.breadcrumb-item.active {
    color: var(--main-color-3) !important;
}

.form-check .form-check-input {
    float: initial !important;
    margin-left: 10px !important;

}

.form-check-input {
    border: 1px solid var(--main-color-1) !important;
}

.form-check-input:checked {
    background-color: var(--main-color-1) !important;
    border-color: var(--main-color-1) !important;
}

.form-check-input:focus {
    box-shadow: none !important;
}

.form-check-input:active {
    filter: brightness(100%);
}

.form-select:focus {
    border-color: var(--main-color-3) !important;
    box-shadow: 0 0 0 0.25rem rgba(179, 176, 176, 0.5) !important;

}

.pagination {
    direction: ltr;
}

.page-link {
    color: var(--main-color-2) !important;
}

.page-link:focus {
    color: #fff !important;
    background-color: var(--main-color-1) !important;
    box-shadow: none !important;
}
/*singleProduct.php-start*/
.input-group-text {
    background-color: var(--main-color-1) !important;
    border: none !important;
}
#description .nav-link{
    color: var(--main-color-2) !important;
}
#description .nav-link.active{
    background-color: #F5F5F5 !important;
}
/*singleProduct.php-end*/

/*cart.php-start*/
.table {
    border-collapse: separate;
    border-spacing: 0 10px;
}
table img{
    width: 50px;
    height: 50px;
}
table .input-group-text{
    border: 2px solid var(--main-color-1) !important;
}
table .input-group-text:active{
    border-color:rgba(143, 120, 44, 0.7) !important;
}
table .fa-xmark{
    border: 2px solid #dc3545 !important;
}
table .fa-xmark:active {
    border: 2px solid rgb(160, 22, 22) !important;
}
/* table input:focus{
    border: none !important;
} */
/*cart.php-end*/











@keyframes animatinIcon {
    0% {
        bottom: 20px;
    }

    50% {
        bottom: 50px;
    }
}